- if @password.expired
  %p.large-yellow-font
    = t('passwords.show.expired')
  %p
    - if @password.deleted
      = t('passwords.show.deleted_by_viewer')
    - elsif @password.views_remaining == 0
      = t('passwords.show.max_view', count: @password.expire_after_views)
    - elsif @password.days_remaining == 0
      = t('passwords.show.max_age', days: @password.expire_after_days)
  %p
    If needed, please contact the person or organization who gave you this secret URL.
    = t('password.show.contact_person')

- else
  - if @first_view
    .share_note
      = t('passwords.show.your_pwd')
      %div.input_group
        %input#secret_url{ value: "#{request.url}", spellcheck: 'false', readonly: true }
        %button.copy-secret-url{ 'data-clipboard-target' => '#secret_url' }
          = image_tag('button_up.png')
      %span.note
        = t('passwords.show.wont_show_again1')
        %br/
        = t('passwords.show.wont_show_again2')
  %p.normal-yellow-font
    = t('passwords.show.your_pwd_is')

  %div.payload.spoiler.notranslate#pass{ 'translate' => 'no' }<
    = @payload

  %button#clipboard-button.copy-to-clipboard{ 'data-clipboard-target' => '#pass' }
    = t('passwords.show.copy_to_clipboard')



  %p.pwinstructions
    = t('passwords.show.instruction')

  %p
    - if @password.views_remaining == 0
      = t('passwords.show.deletion_in', days_remaining: @password.days_remaining, views: @password.views_remaining) + t('passwords.show.this_is_last')
    - else
      = t('passwords.show.deletion_in', days_remaining: @password.days_remaining, views: @password.views_remaining) + t('passwords.show.whichever_first')
  - if @password.deletable_by_viewer
    %p{ style: 'font-size: .85em;' }
      = link_to t('passwords.show.delete_now'), password_path, id: @password.url_token, method: :delete, data: { confirm: t('passwords.show.confirm') }
